<html>
    <head>
        <title>Main Dashboard</title>
        <link rel="stylesheet" href="/css/styledashboard.css">
    </head>

    <body>
        
    
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span class="fab fa-asymmetrik"> </span> <span>Challenge 6</span>
          </h1>
        </div>
        
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="/dashboard" class="active">
                <span class="fas fa-tachometer-alt"></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>

        </div>
    </div>    

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="fas fa-bars"></span>
          </label>
          Dashboard
        </h2>

        <div class="user-wrapper">
         <!-- <img src="https://bit.ly/3bvT89p" width="40px" height="40px" alt="profile-img"> -->
         <div class="">
            <h4>Administrator</h4>
            <small>Super Admin</small>
         </div>
        </div>
      </header>

      <main>
        <div class="cards">
          <div class="card-single">
            <div>
              <h1><%= userGame.length %></h1>
              <span>Users</span>
            </div>
            <div>
              <span class="fas fa-users"></span>
            </div>
          </div>
          

        </div>

        <div class="recent-grid">
          <div class="projects">
            <div class="card">
              <div class="card-header">
                <h2>Recent Users</h2>
                <a href="/user/add"><button>Tambah User <span class="fas fa-arrow-right"></span> </button></a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table width="100%">
                  <thead>
                    <tr style="text-align:center;">
                      <td>Name</td>
                      <td>Email</td>
                      <td>Status</td>
                      <td>Action</td>
                    </tr>
                  </thead>
                  <tbody>
                      <% userGame.forEach(i=>  { %>
                    <tr>
                      <td>
                          <%= i.nama %>
                      </td>
                      <td>
                          <%= i.email %>
                      </td>
                      <!-- <td>
                        <%= i.alamat %>
                      </td>
                      <td>
                        <%= i.jenis_kelamin %>
                      </td>
                      <td>
                        <%= i.umur %>
                      </td>
                      <td>
                        <%= i.level %>
                      </td>
                      <td>
                        <%= i.point %>
                      </td> -->
                      <td>
                        <span class="status purple"></span>
                        Active
                      </td>
                      <td>
                        <a href="/user/delete/<%= i.id %>"><button>Delete User <span class="fas fa-arrow-right"></span> </button></a>
                        <a href="/user/update/<%= i.id %>"><button style="margin-left: 10px;">Update User <span class="fas fa-arrow-right"></span> </button></a>

                    </td>
                    </tr>
                    <% }) %>
                  </tbody>

                </table>
                </div>
              </div>

            </div>

          
        </div>  

      </main>
    </div>


    </body>
</html>