<html>
    <head>
        <title>Halaman Login</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="card">
            <h2>Log-In Account</h2>
           
           <form action="/login" method="post">
            <div class="input-border">
             <input type="text" class="text" name="email" required>
             <label>Email</label>
             <div class="border"></div>
            </div>
            
            <div class="input-border">
             <input type="password" class="text" name="password" required>
             <label>Password</label>
             <div class="border"></div>
            </div>
            
            <button href="#" type="submit" class="btn" value="Log In">Log in</button>
           </form>
            
           </div>
    </body>
</html>