<html>
    <head>
        <title>Main Dashboard</title>
        <link rel="stylesheet" href="/css/styledashboard.css">
    </head>

    <body>
        
    
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span class="fab fa-asymmetrik"> </span> <span>Challenge 6</span>
          </h1>
        </div>
        
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="/dashboard" class="active">
                <span class="fas fa-tachometer-alt"></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>

        </div>
    </div>    

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="fas fa-bars"></span>
          </label>
          Dashboard
        </h2>

        <div class="user-wrapper">
         <!-- <img src="https://bit.ly/3bvT89p" width="40px" height="40px" alt="profile-img"> -->
         <div class="">
            <h4>Administrator</h4>
            <small>Super Admin</small>
         </div>
        </div>
      </header>

      <main>
        <form action="/user/update/<%= user.id %>" method="post">
            <ul class="wrapper">
                <li class="form-row">
                    <label>Nama</label>
                    <input type="text" name="nama" value="<%= user.nama %>">
                </li>
                <li class="form-row">
                    <label>Email</label>
                    <input type="text" name="email" value="<%= user.email %>">
                </li>
                <li class="form-row">
                    <label>Alamat</label>
                    <input type="text" name="alamat" value="<%= user1.alamat %>">
                </li>
                <li class="form-row">
                    <label>Jenis Kelamin</label>
                    <select name="jenis_kelamin">
                        <option value="Laki-laki" <% if(user1.kelamin==='Laki-laki' ){ %> selected <% } %> >Laki-laki</option>
                        <option value="Perempuan" <% if(user1.kelamin==='Perempuan'){ %> selected <% } %> > Perempuan</option>
                    </select>
                </li>
                <li class="form-row">
                    <label>Umur</label>
                    <input type="text" name="umur" value="<%= user1.umur %>">
                </li>
                <li class="form-row">
                    <label>Level</label>
                    <input type="text" name="level" value="<%= biodata.level %>">
                </li>
                <li class="form-row">
                    <label>Point</label>
                    <input type="text" name="point" value="<%= biodata.point %>">
                </li>
                 <li class="form-row">
                     <button type="submit">Simpan</button>
                 </li>
            </ul>
        </form> 

      </main>
    </div>


    </body>
</html>